* { -webkit-box-sizing: border-box; box-sizing: border-box; }
.video-background {
  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 99;
    overflow: visible;
    overflow-x: hidden;
}
.video-foreground,
.video-background iframe {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: relative; float: center; justify-content: center; align-content: center; align-items: center; bottom: 000px; width: 30%; background: rgba(0,0,0,0.3); color: #fff; padding: .1rem; font-family: Avenir, Helvetica, sans-serif; text-align: center;}
.vid-info a { font-weight: 500; display: block; color: #fff; text-decoration: none; -webkit-transition: .6s background; transition: .6s background; border-bottom: none; margin: 1rem auto; letter-spacing: 3px; position: relative; float: center; justify-content: center; align-content: center; align-items: center;}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 600%; top: -200%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; position: relative; float: center; justify-content: center; align-content: center; align-items: center;}
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}